*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
scroll-behavior:smooth;
}

body{
background:#0f172a;
color:white;
}

header{

display:flex;
justify-content:space-between;
align-items:center;
padding:20px 10%;
background:#111827;
position:sticky;
top:0;
z-index:1000;

}

.logo{

font-size:28px;
font-weight:700;

}

.logo span{

color:#38bdf8;

}

nav{

display:flex;
gap:30px;

}

nav a{

color:white;
text-decoration:none;
transition:.3s;

}

nav a:hover{

color:#38bdf8;

}

.menu-btn{

display:none;
font-size:25px;
cursor:pointer;

}

.hero{

display:flex;
justify-content:space-between;
align-items:center;
padding:100px 10%;
gap:60px;

}

.hero-text{

flex:1;

}

.hero-text h1{

font-size:55px;

}

.hero-text span{

color:#38bdf8;

}

.hero-text h3{

margin:20px 0;
color:#94a3b8;

}

.hero-text p{

line-height:1.8;
margin-bottom:30px;

}

.buttons{

display:flex;
gap:20px;

}

.btn{

background:#38bdf8;
padding:14px 30px;
color:white;
text-decoration:none;
border-radius:6px;

}

.btn-outline{

border:2px solid #38bdf8;
padding:12px 28px;
text-decoration:none;
color:white;
border-radius:6px;

}

.hero-image{

flex:1;
text-align:center;

}

.hero-image img{

width:350px;
height:350px;
border-radius:50%;
object-fit:cover;
border:6px solid #38bdf8;

}

section{

padding:80px 10%;

}

h2{

font-size:38px;
margin-bottom:40px;
text-align:center;

}

.about{

max-width:900px;
margin:auto;
text-align:center;
line-height:2;

}

.skills{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;

}

.card{

background:#1e293b;
padding:30px;
text-align:center;
border-radius:10px;
transition:.3s;

}

.card:hover{

transform:translateY(-8px);

}

.card i{

font-size:40px;
color:#38bdf8;
margin-bottom:20px;

}

.projects{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:30px;

}

.project{

background:#1e293b;
padding:30px;
border-radius:10px;

}

.contact{

text-align:center;
line-height:3;
font-size:18px;

}

footer{

text-align:center;
padding:30px;
background:#111827;

}

/* RESPONSIVE */

@media(max-width:900px){

.hero{

flex-direction:column-reverse;
text-align:center;

}

.buttons{

justify-content:center;

}

nav{

position:absolute;
top:80px;
right:0;
background:#111827;
width:100%;
display:none;
flex-direction:column;
padding:20px;

}

nav.show{

display:flex;

}

.menu-btn{

display:block;

}

}